### Instructions
Given a code snippet and its GitHub comment, classify the comment into one of the predefined error categories.

### Error Categories
{{ error_types | safe }}

### Examples
{{ examples | safe }}

### Task
Classify the following error into one of the above categories:
**Code**:
{{ file | safe }}
**Comment**:
{{ comment | safe }}

### Output format
Always return json with a single string field - error_type